h3{
    width:31px; /* Or auto */
    min-width: 31%;
    padding:6px 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    background-color: blue;
    color: white;
    position: relative;
    top:21px;

}

.form-control-feedback{
    pointer-events: auto;
}

.col-right{
    /*margin-top:34px;*/
    /*border: 1px solid black;*/
    /*border-left:none;*/
    /*margin-left:-35px;*/

}
table{
    border:1px solid black;

}
table td {
    /*
    width: 15%;
    */
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 0px;
}
.td-right{
    border-left: 1px solid black;
}

.color-green { color: #4cae4c}
.color-blue {color: #1E90FF;}
.color-grey {color: #A9A9A9;}
.color-red {color: #B22222;}

