legend{
    display: block;
    width: inherit;
    margin-bottom: -1%;
    margin-left: 25px;
    padding: 0 10px;
    border-bottom: none;
    background-color: #0F1B65;
    color: white;
}

.form-group{
    margin-bottom: 0px;
}

.form-control-feedback{
    pointer-events: auto;
}

table{
    border:1px solid black;

}
table td {
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 0px;
}

.td-right{
    border-left: 1px solid black;
}

.color-green { color: #4cae4c}
.color-blue {color: #1E90FF;}
.color-grey {color: #A9A9A9;}
.color-red {color: #B22222;}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border-top: none;
}

.deletetopic{
    border-bottom:1px solid #E1E1E1;
    width: 100%;
    text-align: center;
    padding-top:20px;
    font-size:12px;
    font-family:arial;
    font-weight: normal;
}

#addFormation button{
    font-weight: bold;
    width:120px;
    height:35px;
    max-width:170px;


}

.tabnone{
    border:none;
}






