#assignCollaborator {
    border:1px solid #dcdcdc;
    border-radius: 10px;
    height:100%;
    width: 100%;
    padding:20px;
}
.searchCollab .panel-body {
    height:300px;
    width: 100%;
}
.searchCollab .searchField .glyphicon-search {
    right: 35px;
    position: absolute;
    top: 11px;
    cursor:pointer;
    z-index: 1000;
}
.searchCollab .searchField{
    margin-left: -42px;
    width: 138%;
}

.green {
    color: green;
    top: 20px;
}
.blue{
    color: blue;
    top: 20px;
}
.tabCentring {
    border: none;
    width: 200px;

}

div.disabled
{
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #ffffff;
}

#typeahead .dropdown-menu
{
display:none;
}
#typeahead input {
    padding-right:25px;
    font-size:0.85em;
}

#box{
    position:absolute;
    margin-left:10px;
    margin-top:-10px;
    cursor:pointer;
    color: #fff;
    border-radius: 50%;
    height:20px;
    width: 20px;
    background: #4b9bdf ;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    z-index: 1;
    text-align: center;
    text-decoration: none;
}

