#wrap {
 margin-bottom:100px;
}
#custom-navbar{
    padding:10px 30px 10px 10px;
}
#wrap p, #wrap span {
    color: white;
}
#custom-navbar p {
    margin:0px;
}
#navbar-title {
    font-size:1.3em;
}
#navbar-right-part {
    float:right;
    margin:20px 10px 20px 0px;
    padding:0px;
}

#navbar-user {
    display: inline-block;
    text-align:right;
    padding-right:3em;
    color: #6a6a6a;
}
.dropdown-menu {
    min-width:130px;
    left:-75%;
    top: 150%;
}
#dropdown-app {
    padding-top:15px;
}
#dropdown-app p{
    text-align:center;
}
.icon-app {
    margin-bottom:15px;
}
.icon-app:hover {
    filter: brightness(70%);
}
#btn-disconnect {
    padding:1% 5%;
    font-size:95%;
    box-shadow: none;
    background-color: #dcdcdc;
    border: solid 1px #dcdcdc;
    border-radius:15px;
}
#navbar-app {
    font-size:200%;
}
i.glyphicon {
    top:2.5px;
}
#dropdown-app {
    width: 35px;
}
#dropdown-app img {
    width:35px;
    display: block;
    margin: 0 auto;
}
#dropdown-app p {
    color: black;
}

.red-header{
    background-color: rgb(224,53,89) !important;
}
.blue-header{
    background-color :#428bca;
}


.dialog {
    width: 100%;
    height: 670px;
    margin-top: -40px;
    background-color: rgba(0,0,0,0.30);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
}

.dialog-bg {
    background-color: #FBFBFB;
    width: 360px;
    height: 189px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.dialog-title {
    width: 360px;
    height: 30px;
    padding-top: 12px;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #FFFFFF, #E9E9E9); /* IE10 */
    background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9); /* Opera 11.10+ */
    background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9'); /* IE6-IE9 */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #FFFFFF;
    color: #434343;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
}

.dialog-description {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    color: #555555;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border-top: 1px solid #B9B9B9;
    cursor: default;
}

.dialog-buttons {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}


.button {
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
}

.large.button {
    font-size: 13px;
    padding: 8px 14px 9px;
}

.blue.button {
    background-color: #4d7cb9;
    color: #fff;
    border: 1px solid #2a3b8c;
    padding-left: 35px;
}

#menu{
    right:10px;
}


#menu ul.dropdown-menu{
    left:-120px;
    top:10px;
    width:170px;
}

#menu ul{
    color: #6a6a6a;
    text-align: left;
}
#menu button.btn.btn-default{
    position: absolute;
    top:-10px;
    left:-120px;
    padding:1% 5%;
    font-size:100%;
    box-shadow: none;
    background-color: #dcdcdc;
    border: solid 1px #dcdcdc;
    border-radius:15px;
}

.image-min {
    left: 8%;
    position: absolute;
    margin-top: -14px;
    /* margin-left: 10%; */
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    z-index: 1000;
}

#header-component{
    height:65px;
}