#trainingContainer {
    border:1px solid #dcdcdc;
    border-radius: 10px;
    height:610px;
    width: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    z-index: -1;
    padding:20px;
    margin-left:15px;
}

legend{
    display: block;
    width: inherit;
    margin-bottom: -1%;
    margin-left: 25px;
    padding: 0 10px;
    border-bottom: none;
    border-radius: 5px;
    background-color: #428bca;
    color: white;
}
#trainingErrorMessage {
    margin: 6px 0px 5px 3px;
}
.color-red {color: #B22222;}
.searchField .glyphicon-search {
    right: 25px;
    position: absolute;
    top: 12px;
    cursor:pointer;
    z-index: 6;
}
button + p {
    margin:10px 0 0;
}

#trainingContainer .dropdown-menu {
    min-width: 200px;
    left: 0%;
    top: 100%;
    z-index:6;
}

#trainingContainer input {
    padding-right: 30px;
}

@media screen and (min-width: 992px){
    #trainingContainer #upperContainer {
        height: 52px;
        margin-bottom:0px;
    }
}

#trainingContainer #upperContainer div {
    margin-bottom:10px;
}

.panel-primary{
    background-color: rgba(66, 139, 202,0.8);

}
.panel-heading{

    bbackground-color:#FFFFFF !important;

}

#accordionId u{
    text-decoration: none;
}

#scroll{
    height: 420px;
    overflow: hidden;
    z-index: 5;
}

.errorMessage {
    margin-top:4px;
    font-size: 0.9em;
    color:#B22222;
}

.showmeonhover { display: none; }

.alwaysshowme:hover .showmeonhover {
    display: inline;
}

#scrollMyTrainings {
    height: 140px;
    overflow: hidden;
    z-index: 5;
}

.alignIcon {
    vertical-align: middle;
    float:right;
    font-size:18px;
}