#trainingContainer {
    border:1px solid #dcdcdc;
    border-radius: 10px;
    height:600px;
    width: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    z-index: -1;
    padding:20px;
    margin-left:15px;
}

legend{
    display: block;
    width: inherit;
    margin-bottom: -1%;
    margin-left: 25px;
    padding: 0 10px;
    border-bottom: none;
    border-radius: 5px;
    background-color: #428bca;
    color: white;
}

.searchField .glyphicon-search {
    right: 25px;
    position: absolute;
    top: 12px;
    cursor:pointer;
    z-index: 1000;
}