#container{
    position:relative;
    overflow:hidden;
    height:400px;
    width:100%;
    margin:0px auto;
}
.items{
    height:20px;
    width:100%;
    position:absolute;
}
.item{
    height:60px;
    margin:10px 0;
    border:none;
}
.prev{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}