.panel .panel-default{
    margin-top: 20%;
}

.color-blue {color: #1E90FF;}
.color-grey {color: #A9A9A9;}
.color-red {color: #B22222;}

.fontsize {
    font-size: 150%;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon-left { left:  0px;}
.right-addon .glyphicon-right { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.password{
    position: relative;
}

.password .glyphicon-eye-open,#password2 .glyphicon-eye-open {
    right: 10px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}
.password .glyphicon-eye-close,#password2 .glyphicon-eye-close {
    right: 10px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}
.password .glyphicon-lock,#password2 .glyphicon-lock {

    left: 10px;
    position: absolute;
    top: 12px;
    cursor:pointer;
    pointer-events: none;
}
.password input[type="password"]{
    padding-right: 30px;
    padding-left: 30px;
}
.password input[type="text"]{
    padding-right: 30px;
    padding-left: 30px;
}


.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #8db9df;
    color: #ffffff;
}
.tab-group .active a {
    background: #428bca;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

[v-cloak] {
    display: none;
}

.forgotPassword {
    float:right;
}

/* Popup container */
.popup {
    position: relative;
    display:inline-block;
    cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {

    background-color: #F0F0F0;
    color: #2b2b29;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    padding:10px;
    bottom: 400%;
    left: 75%;
    margin-left: -80px;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* Popup arrow */
.popup .popuptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #F0F0F0 transparent transparent transparent;
}

/* this border color controlls the outside, thin border */
.popup .popuptext:before {
    top: 9px;
    border-color: #a00 transparent transparent transparent;
    border-width: 11px;
}