#test{
    height: 420px;
    overflow: hidden;
    z-index: 5;
}

.showmeonhover { display: none; }

.alwaysshowme:hover .showmeonhover .td {
    display: block;
}

.boxMessage{
    position: absolute;
    left: 30%;
}


