input[type=number].no-spinner::-webkit-outer-spin-button,
input[type=number].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
    padding-top: 40px;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    border-top: solid 1px #ddd;
    padding: 10px 8px 10px 8px;
}

ul li:first-child {
    border-top: 0;
}

.info-text {
    color: blue;
}

.warning-text {
    color: red;
}

.search-widget {
    display: inline-block;
}

.collaborator-box {
    padding-top: 5px;
    overflow-y: scroll;
    height: 390px;
    border: 2px solid darkgrey;
    width: auto;
}

.right-inner-addon {
    position: relative;
}

.searchBox {
    position: absolute;
    padding: 3px 55px 10px 5px;
    width: 100%;
    z-index: 100;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.myPullLeftButton {
    margin-right: 10px;
}

.h5 {
    font-size: 1em;
}

.alertMessageSpace {
    padding: 5px;
}

.calenderSpan:hover {
    color: #000066;
    font-size: 110%;
}

.defaultSelectedValue {
    color: grey;
}

.defaultSelectedValue option:first-child {
    display: none;
}

.glyphiconInfoSetMarge {
    padding-top: 10px;
}

.myBox-set {
    margin: 1.5%;
    overflow: auto;
}

.myBox-set-title {
    margin-top: -2.5%;
    background-color: white;
    position: absolute;
    Font-Weight: Bold;
}

.myBox {
    background: #3c763d;
    float: left;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    min-width: 15%;
}

.myBox:hover {
    background-color: #4cae4c;
    cursor: hand;
}

.myBoxText {
    color: white;
}

.myDisconnectClass {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.myDisconnectClass:hover {
    text-decoration: underline;
    color: cornsilk;
}

.myTextStyle {
    font-family: arial, sans-serif;
}

.myHeadMargin {
    margin: 20px;
}

.myMargin {
    margin: 150px;
}

.myPlusButton:hover {
    background-color: #7f7f7f;
    color: white;
}

.myFontText {
    font-family: "Times New Roman", Impact, Arial, "Arial Black", Verdana, sans-serif;
    font-size: large;
}