<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/ajouterformation.css">
    <script src="lib/vue.js"></script>
    <script src="lib/vee-validate.js"></script>
    <script src="lib/vue-resource.js"></script>
    <script src="lib/vue-router.js"></script>

    <title>AjouterFormation</title>
</head>
<body>
<div class="container-fluid">
    <div class="row"><!-- row1-->
        <div class="col-md-12" style="padding:40px;background-color:blue;margin-bottom: 30px;"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <form id="app" @submit.prevent="verifyFormation">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border">Ajouter une formation</legend>
                            <div class="form-group col-sm-3 col-md-3 " >
                                <label for="formation" class="label-control">Formation</label>
                                <input v-model="formation.nomformation" type="text" class="form-control" id="formation" name="formation" @focus="msgformation = false; confirmFormation = false;" @blur="messageFormationName" />
                           </div>
                            <div class="form-group  col-md-2" >
                                <label>1/2 journées</label>
                                <select v-model="formation.demijournee" class="form-control"  @focus="msgdemijournee = false; confirmFormation = false;" @blur="messageDemiJournee">
                                    <option></option>
                                    <option  v-for="n in 200">{{n}}</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-2" >
                                <label>Thèmes</label>
                                <select v-model="formation.theme" class="form-control"  @focus="msgtheme = false; confirmFormation = false; "@blur="messageTheme">
                                    <option></option>
                                    <option>Thème1</option>
                                    <option>Thème2</option>
                                    <option>Thème3</option>
                                    <option>Thème4</option>
                                    <option>Thème5</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-2" style="margin-top: 25px;">

                                <input type="submit" class="btn btn-default" value="Valider"/>
                            </div>
                            <div class="ligne"></div>
                            <div class="form-group  col-md-3 has-feedback">
                                <label class="label-control" for="nt">Nouveau thème</label>
                                <input type="text" class="form-control" id="nt" />
                                <span class="glyphicon glyphicon-floppy-save form-control-feedback"></span>
                            </div>
                            <div class="col-md-offset-2">
                                <span v-show="!isNewFormationName" class="text-center color-red ">Une formation identique existe déjà dans le système.</span>
                                <span v-show="msgformation || msgdemijournee || msgtheme" class="text-center color-red ">Veuillez remplir tous les champs.</span>
                                <span v-show="confirmFormation" class="text-center color-green ">La formation a été créée avec succès.</span>

                            </div>
                        </fieldset>
                    </form>
                </div>
                </div>
            <div class="col-md-5"></div>

        </div>
    </div>
</div>
</body>
</html>

<script src="app/controller/registerFormation.js"></script>